body{
	margin: 0;
}
#doc{
	width: 800px;
	margin: 1em auto;
	border:1px solid #DDD;
	padding: 1em;
	box-shadow: 0px 0px 10px #888;
	-webkit-box-shadow: 0px 0px 10px #888;
	-moz-box-shadow: 0px 0px 10px #888;
}